*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color:rgb(1, 43, 59);
}
header{
    font-size: 4.8rem;
    text-align: center;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    color: rgb(0, 225, 255);
    text-shadow: 0px 0px 3px rgb(0, 225, 255),0px 0px 2px rgb(0, 225, 255);
}
.simple .opciones{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,300px));
    grid-column-gap: 20px;
    justify-content: center;
}
.simple .simple-header{
    text-align: center;
    color: white;
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-size: 3.2rem;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(0, 225, 255);
    text-shadow: 0px 0px 3px rgb(0, 225, 255),0px 0px 2px rgb(0, 225, 255);
}

.simple .contenedor{
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 0px 3px #eee,0px 0px 3px #eee;
    width: 300px;
    margin: 1rem;
}
.simple .contenedor .input{
    display: block;
    margin-bottom: 2rem;
    width: 100%;
    background-color: transparent;
    border: none;
    box-shadow: 0px 0px 3px #fff,0px 0px 3px #fff;
    font-size: 1.8rem;
    color: white;
    padding: 0.4rem;
    outline: none;

}
.simple .contenedor .boton{
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    width: 70%;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: none;
    font-size: 1.6rem;
    background-color: rgb(132, 0, 255);
    box-shadow: 0px 0px 3px rgb(132, 0, 255),0px 0px 3px rgb(132, 0, 255);
    color: white;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 500;
}
.simple .contenedor .boton:hover{
    opacity: 0.8;
}
.simple .contenedor .boton:active{
    opacity: 1;
}
.simple .contenedor .label-radio{
    color: white;
    margin: 0.5rem;
    display: inline-block;
    font-family: 'Ubuntu',sans-serif;
    box-shadow: 0px 0px 3px #fff,0px 0px 3px #fff;
    text-align: left;
    font-size: 1.6rem;
    width: 120px;
    padding: 0.5rem 0;
    padding-left: 0.5rem;
    border-radius: 0.5rem;
}

.contenedor-nodos{
    display: flex;
    margin-left: 1rem;
}
.contenedor-nodos .nodo{
    display: flex;
    margin: 2rem;
    margin-left: 0;
    box-shadow: 0px 0px 3px #fff;
    animation: fadein 0.5s linear;
}
 .dato{
    font-size: 4.2rem;
    color: rgb(2, 187, 2);
    text-shadow: 0px 0px 3px rgb(2, 187, 2) ;
    font-family: 'Ubuntu',sans-serif;
    font-weight: bold;
    padding: 0 5rem;
    box-shadow: 0px 0px 3px white;
    animation: fadein 0.5s linear;
}
 .flecha{
    font-size: 3.2rem;
    color: orange;
    text-shadow: 0px 0px 3px orange,0px 0px 3px orange;
    margin-left: 1rem;
    animation: fadein 0.5s linear;
}

.encontrado{
    display: flex;
    margin: 2rem;
    margin-left: 0;
    box-shadow: 0px 0px 3px yellow,0px 0px 6px yellow;
    animation: elevate 1s linear;
    transform: translateY(-50px);
}
.eliminar{
    display: flex;
    margin: 2rem;
    margin-left: 0;
    box-shadow: 0px 0px 3px #fff;
    animation: fadeout 1s linear;
}
.contador_nodos{
    font-size: 3.2rem;
    text-align: left;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    color: rgb(0, 225, 255);
    text-shadow: 0px 0px 3px rgb(0, 225, 255),0px 0px 2px rgb(0, 225, 255);
    margin-left: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}


@keyframes fadein{
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes elevate{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-50px);
        box-shadow: 0px 0px 3px yellow,0px 0px 3px yellow;
    }
}

@keyframes fadeout{
    from{
        transform: translateY(0);
        opacity: 1;
    }
    to{
        transform: translateY(100px);
        opacity: 0;
    }
}



.lista_doble .opciones{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,300px));
    grid-column-gap: 20px;
    justify-content: center;
}
.lista_doble .lista_doble_header{
    text-align: center;
    color: white;
    margin-top: 25rem;
    margin-bottom: 2rem;
    font-size: 3.2rem;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(0, 225, 255);
    text-shadow: 0px 0px 3px rgb(0, 225, 255),0px 0px 2px rgb(0, 225, 255);
}

.lista_doble .contenedor{
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 0px 3px #eee,0px 0px 3px #eee;
    width: 300px;
    margin: 0.5rem;
}
.lista_doble .contenedor .input{
    display: block;
    margin-bottom: 2rem;
    width: 100%;
    background-color: transparent;
    border: none;
    box-shadow: 0px 0px 3px #fff,0px 0px 3px #fff;
    font-size: 1.8rem;
    color: white;
    padding: 0.4rem;
    outline: none;

}
.lista_doble .contenedor .boton{
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    width: 70%;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: none;
    font-size: 1.6rem;
    background-color: rgb(132, 0, 255);
    box-shadow: 0px 0px 3px rgb(132, 0, 255),0px 0px 3px rgb(132, 0, 255);
    color: white;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 500;
}
.lista_doble .contenedor .boton:hover{
    opacity: 0.8;
}
.lista_doble .contenedor .boton:active{
    opacity: 1;
}
.lista_doble .contenedor .label-radio{
    color: white;
    margin: 0.5rem;
    display: inline-block;
    font-family: 'Ubuntu',sans-serif;
    box-shadow: 0px 0px 3px #fff,0px 0px 3px #fff;
    text-align: left;
    font-size: 1.6rem;
    width: 120px;
    padding: 0.5rem 0;
    padding-left: 0.5rem;
    border-radius: 0.5rem;
}

.contenedor_nodos_doble{
    display: flex;
    margin-left: 1rem;
    margin-bottom: 30rem;
}
.nodo_doble{
    display: flex;
    flex-direction: row;
    margin: 2rem;
    margin-left: 0;
    box-shadow: 0px 0px 3px #fff;
    animation: fadein 0.5s linear;
}
.dato_doble{
    font-size: 4.2rem;
    color: rgb(2, 187, 2);
    text-shadow: 0px 0px 3px rgb(2, 187, 2) ;
    padding: 0 2rem;
    box-shadow: 0px 0px 3px whitesmoke;
    font-family: 'Ubuntu',sans-serif;
    animation: fadein 0.5s linear;
}
.flecha_back{
    font-size: 3.2rem;
    color: orange;
    text-shadow: 0px 0px 3px orange, 0px 0px 3px orange;
    margin-top: 1rem;
    font-family: 'Ubuntu',sans-serif;
    animation: fadein 0.5s linear;
}
.flecha_front{
    font-size: 3.2rem;
    color: orange;
    text-shadow: 0px 0px 3px orange,0px 0px 3px orange;
    margin-bottom: 1rem;
    font-family: 'Ubuntu',sans-serif;
    animation: fadein 0.5s linear;
}

.modificar_label{
    font-size: 1.6rem;
    margin: auto 0;
    color: white;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    display: inline-block;
}

.eliminar_nodo_doble{
    animation: eliminar_nodo_doble 1s linear;
}

@keyframes eliminar_nodo_doble{
    from{
        opacity: 1;
        transform: translateY(0);
    }
    to{
        opacity: 0;
        transform: translateY(100px);
    }
}
